@use './fonts';

$title-ff: 'Montserrat Alternates', sans-serif;
$ff: 'Montserrat', sans-serif;
$main-title-fs: 150px;
$section-title-fs: 40px;
$footer-section-title-fs: 24px;
$text-l-fs: 40px;
$text-m-fs: 18px;
$text-s-fs: 16px;
$title-color: #a0855b;
$first-bg: #f9f6f2;
$second-bg: #a0855b;
$dark-text-color: #403121;
$light-text-color: #f9f6f2;
$border-color: #814906;
$btn-color: #a65e09;
$btn-color-active: #814906;
$hover-color: #ED9728;
$max-w-container: 1440px;
$lr-container-margin: 80px;
$tb-container-margin: 60px;
