@use '../../globals/variables' as vars;
@use "../../globals/animations";

.catalog {
  &__container {
    display: flex;
    flex-direction: column;
  }
}

.slider {
  max-width: 1120px;
  width: 100%;
  position: relative;
  &__btn {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    background: inherit;
    border-radius: 50%;
    border: 2px solid vars.$border-color;
    span {
      display: block;
      background: url("./images/icons/arrow.svg") no-repeat center;
      width: 100%;
      height: 100%;
      &:hover {
        animation: arrowPulse 1s infinite ease;
      }
    }
  }
  &__carousel {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    .no-transition {
      scroll-behavior: auto;
    }
    .drugging {
      scroll-snap-type: none;
      scroll-behavior: auto;
      .card {
        cursor: grab;
        user-select: none;
      }
    }
  }
}

.slider-btn {
  &_prev {
    transform: rotate(-90deg);
    left: -10%;
  }
  &_next {
    transform: rotate(90deg);
    right: -10%;
  }
}

.card {
  scroll-snap-align: start;
  height: 550px;
  background: vars.$first-bg;
  &__btn {
    border: 1px solid vars.$border-color;
    background: inherit;
    outline: none;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
  }
  &__image-wrapper {
    height: 70%;
    overflow: hidden;
  }
  &__image {
    height: 100%;
    //width: 100%;
    object-fit: cover;
    transition: transform .5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__title {
    font-size: clamp(0.9375rem, 0.6696rem + 1.3393vw, 1.875rem);
  }
}

@media (max-width: 900px) {
  .slider {
    &__carousel {
      grid-template-columns: calc((100% / 2) - 9px);
    }
  }
}

@media (max-width: 600px) {
  .slider {
    &__carousel {
      grid-template-columns: 100%;
    }
  }
}