mixin defaultInput (type, name, placeholder, maxLength, minLength, required)
    .form__input-wrapper
        label.form__label(for= type)= name
        input.form__input(type= type, name= type, id= type, min= minLength, max= maxLength, required= required)
        span.form__input-error