mixin mainTitle(titleClass, content)
    h1.main-title(class= titleClass)= content

mixin mainSubtitle(subtitleClass, content)
    p.main-subtitle(class= subtitleClass)= content

mixin sectionTitle(titleClass, content)
    h2.section-title(class= titleClass)= content

mixin footerListTitle(titleClass, content)
    h3.footer-title(class= titleClass)= content