section.main__hero(class="hero")
    .hero__overlow
    .hero__container(class="container")
        .hero__title-container
            include ../titles/titles
            +mainTitle("hero__title", "Wood Games")
            +mainSubtitle("hero__subtitle", "Аренда настольных игр из дерева в Калининграде")