include ../titles/titles

section.main__hero(class="hero")
    .hero__overlow
    .hero__container(class="container container_1440s")
        .hero__title-container
            +mainTitle("hero__title", "Wood Games")
            +mainSubtitle("hero__subtitle", "Аренда настольных игр из дерева в Калининграде")