-
    var reviewsSectionListContent = [
        {"name": "Алёна", "date": "16.09.2023", "text": "Я недавно воспользовалась услугой аренды настольных игр из дерева. Сервис оказался на высшем уровне, начиная от удобного процесса бронирования и заканчивая доставкой игр прямо к моему порогу."},
        {"name": "Иван", "date": "07.06.2024", "text": "Первое, что меня поразило, - это качество игр. Все они были изготовлены из натурального дерева, что придавало играм особый шарм и уют. Дизайн каждой игры был продуман до мелочей, что делало процесс игры не только увлекательным, но и эстетически приятным."},
        {"name": "Сергей", "date": "07.03.2023", "text": "Сотрудники компании были очень дружелюбны и внимательны ко всем моим вопросам и пожеланиям. Они помогли мне выбрать игры, которые идеально подходили для моей вечеринки, и даже предложили несколько полезных советов по организации досуга."},
        {"name": "Анна", "date": "21.08.2023", "text": "Доставка и возврат игр прошли безупречно. Все было аккуратно упаковано, и я не заметила ни малейших повреждений. Это говорит о высоком уровне профессионализма команды."},
        {"name": "Надежда", "date": "19.04.2024", "text": "Все игры, которые я арендовала, были выполнены из высококачественного дерева. Они выглядят стильно и оригинально, что добавляет особую атмосферу к вечерам с друзьями и семьей."},
        {"name": "Игорь", "date": "19.10.2023", "text": "Ассортимент настольных игр просто потрясающий! Я смог выбрать как классические игры, так и новинки, которые раньше не пробовал. Это отличный способ попробовать что-то новое без необходимости покупки."},
        {"name": "Алексей", "date": "18.09.2024", "text": "Процесс аренды был очень простым и удобным. Я смог выбрать нужные игры онлайн, а доставка была выполнена в срок. Все игры были аккуратно упакованы и готовы к использованию."},
        {"name": "Дарья", "date": "20.03.2022", "text": "Цены на аренду очень разумные, особенно учитывая качество игр и уровень сервиса. Это отличный способ развлечься, не тратя при этом большие суммы денег."},
        {"name": "Мадина", "date": "12.01.2024", "text": "Персонал компании был очень вежливым и отзывчивым. Они с радостью ответили на все мои вопросы и помогли с выбором игр."},
        {"name": "Данил", "date": "18.06.2023", "text": "В целом, аренда настольных игр из дерева — это замечательный опыт, который я обязательно повторю. Рекомендую всем, кто ищет качественные и интересные развлечения для компании!"}
    ];

section.reviews__reviews(class="reviews section theme_dark")
    .reviews__container(class="container")
        include ../titles/titles
        +sectionTitle("reviews__title", "Что о нас говорят")

        .reviews__wrapper(class="slider")
            ul.reviews__carousel(class="carousel autoplay")
                include ../list-items/list-items
                each item in reviewsSectionListContent
                    +reviewsCardItem(item.name, item.date, item.text)
            .reviews__paginator(class="paginator bullet-paginator")
