section.main__about(class="about theme_light")
    .about__container(class="container")

            .about__img-container
                img.about__image-owner(src="./images/about/1.jpg" alt="Антон")
                img.about__image-game(src="./images/about/2.jpg" alt="Настольная игра 'Балансир'")

            include ../titles/titles
            +sectionTitle("about__title", "О нас")

            .about__content-block
                p.about__text Меня зовут Антон. Я и команда “Wood Games” занимаемся изготовлением и арендой игр из ценных пород дерева в г. Калининград.
                p.about__text Наши игры идеально вписываются в мероприятия как на улице, так и в помещении.
                p.about__text Благодаря этим активностям гости с лёгкосьтю находят общий язык друг с другом и весело проводят время до начала основного мероприятия, в перерывах или застольных паузах.
                p.about__text Наши игры не только помогут весело провести врекмя, но и полезны для развития логического интеллекта, памяти, внимание, ассоциативного, пространственного и аналитического мышления.
                p.about__slogan Ну что, сыграем!?
