extends ../layout/default

block content
    main.main
        include ../components/hero/hero
        include ../components/about/about
        include ../components/meetings/meetings
        include ../components/catalog/catalog
        include ../components/prices/prices
        include ../components/delivery/delivery
        include ../components/reviews/reviews
        include ../components/contact-form/contact-form
    include ../components/game-card/game-card