section.main__contact-form(class="contact-form section theme_light")
    .contact-form__container(class="container")
        .contact-form__top
            include ../titles/titles
            +sectionTitle("contact-form__title", "Оставьте заявку")

            p.contact-form__text Оставьте заявку и мы свяжемся с Вами в ближайшее время
        form.contact-form(class="form")
