@use '../../globals/variables' as vars;

.btn {
  height: 75px;
  width: 100%;
  background: vars.$btn-color;
  color: vars.$light-text-color;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background .3s, color .3s, border .3s ease;
  &:hover {
    //transform: scale(1.05);
    background: vars.$light-text-color;
    color: vars.$btn-color;
    border: 1px solid vars.$btn-color;
  }
}