doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="bundle.css")
        title Wood Games. Аренда настольных игр из дерева в Калининграде
    body.default-layout
        include ../components/header/header
        block content
        include ../components/footer/footer
        script(src="./scripts/script.js")